/* CSS Reset */

/* Box sizing rules */
*, *::after, *::before { box-sizing: border-box }

/* Remove default padding */
ul, ol { padding: 0 }

/* Remove default margin */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure,
figcaption, blockquote, dl, dd, pre { margin: 0 }

/* Make body (and app) like in html 4 */
body, html, #app { height: 100% }

/* Make images easier to work with */
img { max-width: 100%; display: block; }

/* Why does canvas even have focus?.. */
canvas:focus { outline: none }

/* Inherit fonts for inputs and buttons */
input, button, textarea, select, .button {
  font: inherit;
  color: inherit;
  min-width: 0;
}

/* Lighten up the default tabindex outline */
*:focus { outline-color: rgba(0,0,0,0.2) }


html {
  font-family: Segoe UI, SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  height: 100%;
  max-height: 100%;
}

body > nav {
  width: 320px;
  padding-top: 1rem;
  overflow-y: auto;

  box-shadow: #0001 0px 0px 1rem;
}

body > nav > * {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

body > main {
  flex: 1;
  padding: 0 3rem;
  overflow-y: auto;
}

body > main > * {
  max-width: 800px;
}

body > main > *:not(:first-child) {
  margin-top: 1rem;
}

.toc-logo {
  max-width: 10rem;
  max-height: 10rem;
  display: block;
  margin: 0 auto 1rem;
}

.markdown-body hr {
  height: 1px;
}

.markdown-body img {
  margin-bottom: 0.5rem;
}

.top-button {
  position: fixed;
  right: 2rem;
  top: 1rem;
}

.top-button::before {
  content: '↑ top';
}

.download-bar {
  display: flex;
  text-align: right;
  border-bottom: 1px solid #8883;
}

.download-bar > .spacer {
  flex-grow: 1;
}

.upload-bar input[type=submit] {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

.upload-bar input[type=file] {
  min-width: 10px;
}

.upload-bar input[type=file]::file-selector-button {
  display: none;
}

.upload-bar input[type=file]:invalid {
  display: none;
}

.upload-bar input[type=file]:invalid + label + input[type=submit] {
  display: none;
}

.upload-bar input[type=file]:valid + label {
  display: none;
}

.link {
  color: #0366d6;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.version-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}

.version-tags > * {
  margin: 0 0.1rem;
}

.version-tags-more {
  display: none;
}

.version-tags-more + div {
  display: none;
}

.version-tags-more:checked + div {
  display: flex;
}

.version-tags.current-project {
  background: #88f2;
}

.version-tags a:hover {
  text-decoration: underline;
}

.toc-project-title {
  display: flex;
  border-bottom: 1px solid #8883;
}

.toc-project-title > *:first-child {
  
  flex-grow: 1;
}

.version-tag {
  background: none;
  color: #8888;
  cursor: pointer;
}

.version-tag:hover {
  text-decoration: underline;
}

img.github-private-asset {
  border: 1px solid #8888;
}

nav.toc {
  padding-bottom: 1rem;
}

nav.toc ul {
  list-style: none;
  padding: 0;
}

nav.toc > ul .toc-project-title {
  padding: 0 1rem;
}

nav.toc > ul .version-tags {
  padding: 0 1rem;
}

nav.toc > ul ul li {
  padding: 0 1rem;
  padding-left: 2rem;
}

nav.toc > ul ul.doc-headings li {
  padding: 0 1rem;
  padding-left: 3rem;
}

nav.toc > .logo-link {
  display: block;
  color: inherit;
  padding: 1rem;
}

.version-info {
  font-size: 0.7rem;
  color: #8888;
  text-align: center;
  margin: 0;
}

.refresh-docs {
  display: none;
}

.current-doc {
  background: #88f2;
}

.toc-project-title.current-doc {
  border-bottom: 1px solid #0366d6;
}

.doc-headings > li {
  padding: 0 1rem;
}

.doc-headings-title {
  border-bottom: 1px solid #8883;
  margin: 0;
}

h1.global-title {
  padding: 0 1rem;
  margin-top: 0;
}

.doc-headings li > a::before {
  content: "§ ";
}